* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#Entrar {
    background-color: rgba(60, 26, 110, 1);
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 50px;
}

#Cadastro {
    background-color: rgba(238, 77, 154, 1);
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 50px;
}

#Entrar:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

#Cadastro:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

nav a:hover {
    color: rgba(238, 77, 154, 1);
    transform: scale(1.1);
    transition: 0.3s ease;
}

.NavBaixa {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;            
    padding:  10px;
    background-color: rgba(60, 26, 110, 1);
    color: white;
    font-size: 13px;
    margin-bottom: 30px;
}

.NavBaixa p {
    margin: 0;     
}

#info {
    margin: 0 auto;
    width: 1000px;
    border: solid rgba(60, 26, 110, 1);
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: justify;  
    line-height: 1.6;     
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

#info p {
    margin: 20px;
}

#info h3 {
    color: rgba(238, 77, 154, 1);
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

footer {
    padding: 50px;
    padding-left: 20px;
    background-color: black;
    color: white;
}
